* {
    font-family: Siji, cherry;
    font-size: 12px;
}


window#waybar {
    color: #f1f1f1;
    border-bottom: 2px solid rgba(68, 68, 68, 0.4)
}

.modules-left:first-child {
    margin-left: 20px;
}

.modules-center {
    margin: 0 100px;
}

.modules-right:last-child {
    margin-right: 20px;
}

.modules-right * {
    margin: 0 4px;
}

window#waybar {
    background-color: rgba(38, 40, 42, 0.9);
    transition-property: background-color;
    transition-duration: .5s;
}


#workspaces {

}

#workspaces button {
    border: none;
    padding: 0 2px;
    border-radius: 0px;
    margin: 0 8px;
    color: #f1f1f1;
}
#workspaces button:hover {
    box-shadow: inherit;;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button.active {
    color: #8bbce5;
    font-weight: 800;
}

#workspaces button.urgent {
    color: #ff8878;
}

#workspaces button.hidden {
    color: #6f6f6f;
}

#pulseaudio.high {
    color: #ff8878;
}

#pulseaudio.medium {
    color: #fffcb7;
}

#pulseaudio.low {
    color: #b4fb73;
}
